*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(186, 185, 185);
    padding: 10px;
}
.logo{
    width: 80px;
}
li{
    list-style: none;
}
.menu-container{
    display: flex;
    gap: 15px;
}
li:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 350px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    /* background-image: url(images/background.avif); */
}
.banner-left{
    width: 400px;
    line-height: 2.5;
}

.btn{
    padding: 15px 30px;
    border: none;
    color: white;
    cursor: pointer;
}
.hire-btn{
background-color:rgb(34, 34, 61);
}
.project-btn{
    background-color: rgb(59, 116, 169);
}
.title{
    font-size: 45px;
}
.service-container{
    margin-top: 30px;
}
.service-title{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}
.sevice-card{
    width: 300px;
    height: 430px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;
}

.sevice-img{
    width: 250px;
}

.service-card-btn{
    padding: 15px 25px;
    background-color: rgb(107, 109, 108);
    border: none;
    font-size: 20px;
    color: white;
}
.service-description{
    margin: 10px;
}
.services{
    display: flex;
    justify-content: center;
    gap: 50px;
}
a{
    text-decoration:none;
    color: white;
}
