.box{
    width: 200px;

    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    margin: 50px;
}
.title{
    color: blue;
    margin-top: 50px;
    margin-left: 100px;
}
.title1{
    display: inline;
}
.title2{
    display: inline;
}
.description{
    color: red;
}