@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.box{
    width: 200px;

    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    margin: 50px;
}
.title{
    color: blue;
    margin-top: 50px;
    margin-left: 100px;
}
.title1{
    display: inline;
}
.title2{
    display: inline;
}
.description{
    color: red;
    font-size: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: roboto;
    font-weight: 400;
}